.project-slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 86px;
}

.project-slider-container .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.project-title {
    width: auto;
    text-align: center;
    font-size: 35px;
    color: white;
    border-bottom: 3px solid yellow;
}

.project-box {
    border: 1px solid yellow;
    border-radius: 20px;
    box-shadow: 0 0 3px 3px rgb(253, 253, 2, 0.5);
    padding: 0 2% 2% 0;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 1280px;
    margin-top: 4%;
}
.slider-button-left, .slider-button-right {
    height: 60px;
    width: 60px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 29% 3% 0 3%;
    font-size: 35px;
    cursor: pointer;
}
.project-box .project-name {
    width: auto;
    color: white;
    text-align: center;
    padding-bottom: 1%;
    font-size: 24px;
    border-bottom: 2px dashed white;
}
.project-box .image-slider {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 500px;
    height: 500px;
    margin-right: 5%;
    object-fit: cover;
}
.project-box .column {
    border-radius: 20px;
    width: 388px;
}
.project-box .project-description {
    margin-top: 2%;
    margin-right: 5%;
    color: white;
    font-size: 18px;
    border-top-right-radius: 20px;
    width: 600px;
    text-align: justify;
}

@media only screen and (max-width: 480px) {
    
    .project-slider-container .row {
        margin-left: 206px;
        max-width: 80vw;
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
    }
    .project-slider-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 86px;
    }
    .project-box .image-slider {
        width: 507px;
        height: 315px;
    }
    .project-box {
        border: 1px solid yellow;
        box-shadow: 0 0 3px 3px rgb(253, 253, 2, 0.5);
        display: flex;
        flex-direction: column;
        width: 400px;
        height: auto;
        padding: 0 1% 1% 1%;
        margin-top: 9%;
    }
    .slider-button-left, .slider-button-right {
        height: 10px;
        width: 58px;
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        margin-top: -20%;
        font-size: 31px;
        cursor: pointer;
    }
    .project-box .image-slider {
        width: 507px;
        height: 315px;
        object-fit: contain;
    }
    .project-box .project-name {
        max-width: 79vw;
        color: white;
        text-align: center;
        padding-bottom: 1%;
        font-size: 24px;
        border-bottom: 2px dashed white;
    }
    .project-description {
        padding: 7px;
        max-width: 79vw;
        color: white;
        font-size: 18px;
        width: 350px;
        border-top-right-radius: 20px;
        text-align: justify;
    }
    
    }